* {
    box-sizing: border-box;
}
html {scroll-behavior: smooth;}

body {
    background: var(--light-section-bg-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    /* font-family: 'Red Hat Text', sans-serif;; */
}


:root {
    /* color varables */
    --main-bg-dark: #8F7144;
    --main-bg-trans: #8F7144a9;
    --dark: #4f1f00;
    --dark-trans: #4f1f00a9;
    --primary: #006E61;
    --primary-trans: #006E61a9;
    --secondary: #98c4f0;
    --light-section-bg-color: #DFE0DF;
    --title-color: #4F1F00;
    --text-color: #111;
    --light-text-color: #FFFADE;
    /* fonts */
    --title-font: 'Fascinate', cursive;
    --text-font: 'Roboto', sans-serif;
}

p,
li {
    font-family: var(--text-font);
    font-size: 1.5rem;
    margin-bottom: .8em;
}

.head {
    background-color: var(--primary);
    padding: 10px;
}
.logo h1 {
    font-family: var(--title-font);
color: var(--title-color);
text-shadow: 0 0 25px var(--light-text-color);
}
.inner-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav-mobile-menu {
    display: none;
}
.nav-menu ul li .active-link {
    border-bottom: 2px solid var(--dark);
    text-shadow: 0 0 25px var(--light-text-color);
    color: var(--dark);
}
.nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-menu ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: var(--light-text-color);
    transition: 500ms ease-in-out;
    border-bottom: 2px solid transparent;
}

.nav-menu ul li a:hover {
    color: var(--dark);
    text-shadow: 0 0 25px var(--light-text-color);
    border-color: var(--dark);
}

/* menu mobile view */
@media (max-width: 40em) {
    .nav-menu {
        display: none;
    }

    .nav-mobile-menu {
        display: block;
        color: var(--light-text-color);
        padding: 5px;
        cursor: pointer;
    }

    .nav-menu ul li {
        flex-direction: column;
        margin-bottom: 1.2em;
        border-bottom: 1px solid var(--light-section-bg-color);
        background-color: var(--main-bg-trans);
    }
}

/* The whole page div */
.page {
    display: grid;
    grid-gap: 1.3em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        'h h h h h h h h'
        'i i i i i i i i'
        'p p p p p p p p'
        'r r r r r r r r'
        's s s s s s s s'
    ;
}

@media (min-width: 90em) {
    .page {
        grid-template-areas:
   
            'h h h h h h s s'
            'i i i i i i s s'
            'p p p p p p s s'
            'r r r r r r s s'
       
        ;
    }

}

/* hero section front page */
.hero {
    grid-area: h;
    background-image: url("/assets/imgs/deer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    display: grid;
    place-items: center;
}
@media (max-width: 50em) {
    .hero {
        background-size: cover;
    }
}
/* for the about page not created yet*/
.hero-about {
    grid-area: h;
    /* background-image: url("https://thepcpusa.com/wp-content/uploads/2021/10/supreme-court-building-1209701_1280.jpg"); */
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.inner-hero {
    border: 1px solid var(--secondary);
    padding: .8em 1em;
    max-width: 800px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 15px #333;
    background-color: var(--dark-trans);
    color: var(--light-text-color);
}
.inner-hero h1 {
    font-family: 'Fascinate', cursive;
}

.site-sub-title h2 {
    font-size: 1.3em;
    text-transform: capitalize;
    font-family: var(--text-font);
}

/* introduction styling */
.intro {
    grid-area: i;
    padding: 4em 10px;
    background-color: var(--light-section-bg-color);
}

.intro-inner {
    max-width: 40em;
    margin: 0 auto;
}

.intro h5 {
    font-family: var(--title-font);
    color: var(--title-color);
    text-align: center;
    font-size: 2.3em;
}

/* the purpose */
.purpose {
    grid-area: p;
}

.purpose-inner {
    padding: 2em;
    background-color: rgba(245, 245, 220, 0.747);
}
@media (min-width: 60em) {
    .purpose-inner {
        display: flex;
         justify-content: space-around;
    }
    .purpose-inner div {
        padding: .8em;
        width: 50%;
        min-width: 33%;
        text-align: justify;
    }
}



/* registration area and form */
.registration-area {
    grid-area: r;
    background-image: url('/assets/imgs/signature-2743370_1280.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    min-height:100vh;
    background-color: var(--light-section-bg-color);
}

.registration-area h3 {
    font-size: clamp(.6rem, 1rem + 10vw, 2rem);
    max-width: 30em;
    text-align: center;
    margin: 15px auto;
    font-family: var(--title-font);
}

.registration-area-inner {
    box-shadow: 0 0 15px #333;
    background-color: rgba(245, 245, 220, 0.6);
    padding: clamp(3em, 1em, 5em)
}

.form-grid {
    display: grid;

    grid-gap: 1.2em;
}

.form-grid label {
    display: block;
}

.form-grid p {
    margin: 0;
}

.form-grid .full {
    grid-column: 1 / 3;
}

.form-grid button,
.form-grid input,
.form-grid textarea {
    width: 100%;
    padding: .7em;
}

.form-grid button {
    background: #52a3eb;
    border: 0;
    border-radius: 8px;
    font-size: .8em;
    text-transform: uppercase;
    transition: background-color 500ms ease-out;
}

.form-grid button:hover,
.form-grid button:focus {
    background: var(--main-bg-dark);
    color: var(--light-text-color);
}



/* footer links and details accordion */
.side-bar {
    background-color: var(--main-bg-dark);
    grid-area: s;
    padding: 10px;
    box-shadow: 0 0 15px #333;
}
.side-bar h3  {
    font-family: var(--title-font);
    color: var(--dark);
    font-size: 2em;
    font-weight: 800;
    font-family: var(--title-font);
}
.side-bar summary {
    font-family: var(--text-font);
    color: var(--dark);
    font-size: 1.5em;
}

.links {
    padding: 5px;
}

details {
    background-color: var(--secondary);
    color: var(--text-color);
    min-width: 300px;
    margin: 10px auto;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
}

.footer {
    background-color: var(--primary);
    padding: 1.2em;
    color: var(--light-text-color);
}

.footer-inner {
    display: grid;
    max-width: 1100px;
    margin: auto;
    grid-template-columns: 1fr 200px 1fr;
    text-align: center;
    gap: 1em;
    align-items: center;
    grid-template-areas:
        '. . .'
        'l l l'
        'r r r'
        'c c c'
        '. . .'
    ;
}


/* defining th grid areas */
.rights {
    grid-area: r;
}

.ft-logo {
    grid-area: l;
}

.credits {
    grid-area: c;
}
.credits a {
    color: var(--light-text-color);
    text-decoration: none;
}

/* footer for tablets */
@media (min-width: 40em) {
    .footer-inner {
        justify-content: space-between;
        margin: auto;
        grid-template-areas:
            '. . .'
            'r l c'
            '. . .'
        ;
    }
    .footer-inner img {
        width: auto;
    }
}

/* back to top button */ 
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 22px;
    outline: none;
    background-color: #78000099;
    color: white;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #000;
  }
  
  #myBtn:hover {
    background-color: #555;
  }